<header class="jumbotron">
  <h1 class="text-center">
    Cadastro de fotos
  </h1>
</header>
<main class="container">

  <div class="row" *ngIf="mensagem.texto">
    <div class="col-12">
      <caelumpic-mensagem [texto]="mensagem.texto" [tipo]="mensagem.tipo"></caelumpic-mensagem>
    </div>
  </div>

  <div class="row">
    <form #formCadastro="ngForm" class="col-md-7 mb-4" (ngSubmit)="salvar(formCadastro)">
      
      <div class="form-group">
        <label for="">Titulo*</label>
        <input #inputTitulo="ngModel" required [(ngModel)]="foto.titulo" name="titulo" type="text" class="form-control">
        <caelumpic-mensagem *ngIf="inputTitulo.invalid && inputTitulo.touched" tipo="danger" texto="Titulo obrigatório"></caelumpic-mensagem>
      </div>

      <div class="form-group">
        <label for="">URL*</label>
        <input #inputUrl="ngModel" required [(ngModel)]="foto.url" name="url" type="text" class="form-control">
        <caelumpic-mensagem *ngIf="inputUrl.invalid && inputUrl.touched" tipo="danger" texto="URL obrigatória"></caelumpic-mensagem>
      </div>

      <div class="form-group">
        <label for="">Descrição</label>
        <textarea [(ngModel)]="foto.descricao" name="descricao" class="form-control"></textarea>
      </div>

      <a routerLink="" class="btn btn-secondary mr-2">Listagem</a>
      <button [disabled]="formCadastro.invalid" class="btn btn-primary">Salvar</button>

    </form>
    <aside class="col-md-5">
      <h2>Preview</h2>
      <caelumpic-card [foto]="foto" *ngIf="foto.url">
        <foto [titulo]="foto.titulo" [url]="foto.url" class="foto"></foto>
      </caelumpic-card>
    </aside>
  </div>
</main>